{%extends '..\templates\base.html'%} {%block content%}

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AstroNexo</title>

  </head>

      <!-- Contenido -->
      <div class="contenido-height">
        <header>
          <h1 class="titulo-h1">Bienvenido a AstroNexo</h1>
          <h2 class="titulo-h2">Vista de Administrador</h2>
        </header>
        <div class="button-container row">
          <div class="col-md-6 col-lg-5 mb-4">
            <a href="{% url 'crear_noticia' %}" class="custom-button">Subir Noticia</a>
          </div>
          <div class="col-md-6 col-lg-5 mb-4">
            <a href="{% url 'lista_noticias' %}" class="custom-button">Listado de Noticias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 {%endblock%}
</html>
