{%extends '..\templates\base.html'%} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroNexo</title>

    <!-- Contenido -->

    <header>
      <h1 class="titulo-h1">Restablecimiento de contraseña</h1>
      <h2 class="titulo-h2"></h2>
    </header>
    <div>
      <div class="login-container">
        <p style="text-aling: jusyify; margin: 0px 10% 30px 10%">
          Su contraseña se ha restablecido correctamente
        </p>
        <br />
        <a href="{% url 'login' %}" class="link-editar">Iniciar sesión</a>
      </div>
    </div>

    {% endblock %}
  </head>
</html>
