{%extends '..\templates\base.html'%} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroNexo</title>

    <!-- Contenido -->

    <header>
      <h1 class="titulo-h1">Restablecimiento de contraseña enviado</h1>
      <h2 class="titulo-h2"></h2>
    </header>
    <div>
      <div class="login-container">
        <p style="text-aling: jusyify; margin: 0px 10% 30px 10%">
          Le hemos enviado por email las instrucciones para restablecer la
          contraseña, si es que existe una cuenta con la dirección electrónica
          que indicó. Debería recibirlas en breve.
        </p>
        <p style="text-aling: jusyify; margin: 0px 10% 0px 10%">
          Si no recibe un correo, por favor asegúrese de que ha introducido la
          dirección de correo con la que se registró y verifique su carpeta de
          spam.
        </p>
        <hr />
      </div>
    </div>

    {% endblock %}
  </head>
</html>
