{% extends '..\templates\base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <h1 class="titulo-h1">Cambiar Contraseña</h1>
      <h2 class="titulo-h2">Introduzca sus datos</h2>
    </header>
    <div>
      <div class="login-container">
        <a href="{% url 'perfil' %}" class="icon-link"
          ><i class="bi bi-arrow-return-left"></i
        ></a>
        <form method="post" class="form-login">
          {% csrf_token %}
          <div>
            <label for="id_new_password1" class="login-1"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              class="login-2"
              name="new_password1"
              autocomplete="new-password"
              required
              id="id_new_password1"
            />
          </div>
          <div>
            <label for="id_new_password2" class="login-1"
              >Confirmar Nueva Contraseña</label
            >
            <input
              type="password"
              class="login-2"
              name="new_password2"
              autocomplete="new-password"
              required
              id="id_new_password2"
            />
          </div>
          {% if form.new_password2.errors %}
          <p style="color: #d47900">
            La contraseña tiene que contener numeros y letras <br />
            Tiene que tener mas de 8 caracteres
          </p>
          {% endif %}
          <hr />
          <button type="submit">Cambiar mi Contraseña</button>
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
