{%extends '..\templates\base.html'%} {%block content%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroNexo</title>

    <!-- Contenido -->

    <header>
      <h1 class="titulo-h1">Restablecer Contraseña</h1>
      <h2 class="titulo-h2">Introduzca sus datos</h2>
    </header>
    <div>
      <div class="login-container">
        <form method="post">
          {% csrf_token %}
          <label for="id_email" class="login-1">Email</label>
          <input
            class="login-2"
            type="email"
            name="email"
            autocomplete="email"
            maxlength="254"
            required=""
            id="id_email"
          />
          <hr />
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>

    {% endblock %}
  </head>
</html>
